*{
   margin: 0;
   padding: 0;
}
main{
   background: tomato;
   height: 100vh;
   overflow: hidden;
   background-color:#ed2887;
   color: white;
}
main h1{
   font-family: Russo One !important;
   padding-top: 10px;
   padding-bottom: 0px;
   font-size: 4.5rem;
}
main h2{
   font-family: Rowdies !important;
   padding-top: 40px;
   padding-bottom: 20px;
   font-size: 2.5rem;
   color: white;
   opacity: 80%;
}
.img-fluid{
   padding: 50px;
}
.btn
{
   transition: 0.5s;
   border: 1px solid #fff;
   width: 180px;
   margin-top: 20px;
   background:transparent;
   color:#fff;
   font-weight: 600;
   margin-bottom: 10px;
}
.btn:hover{
   transition: 0.5s;
   background:#fff;
   color: #ff0062;
}
@media (max-width:576px)
{
   main h1 {
     font-size: 2.8rem;
   }

   main h2
   {
      font-size: 2.0rem;
   }

}
